@use 'colors' as c;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-heading {
	position: relative;
	margin-bottom: 1em;
	color: c.$dark;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
}

.section-padding {
	padding: 3em 2em;
}

.btn-special-animation {
	position: relative;
	transition: background-color 0.3s;
	overflow: hidden;
	z-index: 0;

	&::before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 120%;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
		z-index: -1;
	}
	&:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}
}

@media (min-width: 768px) {
	.section-heading {
		margin-bottom: 1.2em;
		font-size: 3.6rem;
	}

	.section-padding {
		padding: 3.4em 2em;
	}
}
