html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-size: 1.8rem;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

ol,
ul {
	list-style: none;
}
